# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Arquivos de ambiente e configuração
.env
.env.local
.env.development
.env.production
*.config.prod.js
.env.*
python-processor/quota_stats.json
python-processor/config.py

# Dependências
node_modules
dist
dist-ssr
*.local
python-processor/__pycache__
python-processor/venv

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos temporários
*.tmp
*.temp
*.bak
