-- Script para limpar dados de teste do banco
-- Execute este script no Supabase para limpar os dados de teste

-- Limpar resgates de teste
DELETE FROM resgates_clientes WHERE observacoes LIKE '%teste%' OR observacoes LIKE '%demo%';

-- Limpar pedidos de teste (manter apenas os últimos 5 pedidos reais)
DELETE FROM pedidos_fast WHERE 
  numero_pedido LIKE '%DEMO%' OR 
  numero_pedido LIKE '%TESTE%' OR 
  numero_pedido LIKE '%ERROR%' OR
  numero_pedido LIKE '%LIMIT%' OR
  numero_pedido LIKE '%QUOTA%';

-- Limpar itens de pedidos órfãos
DELETE FROM itens_pedido WHERE pedido_id NOT IN (SELECT id FROM pedidos_fast);

-- Limpar histórico de pontos de teste
DELETE FROM historico_pontos WHERE 
  descricao LIKE '%teste%' OR 
  descricao LIKE '%demo%' OR
  descricao LIKE '%DEMO%' OR
  descricao LIKE '%ERROR%' OR
  descricao LIKE '%LIMIT%';

-- Resetar pontos de clientes de teste (manter apenas dados de produção)
UPDATE clientes_fast SET 
  saldo_pontos = 0,
  total_pontos_ganhos = 0,
  total_pontos_gastos = 0
WHERE 
  email LIKE '%teste%' OR 
  email LIKE '%demo%' OR 
  nome LIKE '%Teste%' OR
  nome LIKE '%Demo%';

-- Limpar clientes de teste específicos (exceto admin)
DELETE FROM clientes_fast WHERE 
  (email LIKE '%teste%' OR 
   email LIKE '%demo%' OR 
   nome LIKE '%Teste%' OR
   nome LIKE '%Demo%') 
  AND email != 'admin@fastsistemas.com.br';
